body {
  margin: 0;
  padding: 0;
  background-color: #ef97ed; /* Light gray background */
  font-family: 'Helvetica', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.mainContainer {
  text-align: center;
  background-color: #61dde6; /* White background */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
  padding: 20px;
  max-width: 400px; /* Limit the width of the container */
}

.quote {
  font-size: 28px;
  font-weight: bold;
  color: #333; /* Dark gray text color */
  margin-bottom: 10px;
  background-color: green;
}

.author {
  display: flex;
  justify-content: flex-end;
  background-color: red;
  font-style: italic;
  justify-self: flex-end;
  color: #666; /* Slightly lighter gray text color */
}

button{
  margin-top: 20px;
}
